<%- include("partials/header"); %>
<div class="container text-left">
	<h1 class="text-center">About Us</h1>
	<h2>Welcome to BlockEHR!</h2>
	<h4>Health Records on Blockchain</h4>
	<p class="lead">A web application for securely sharing and managing your medical health records on Blockchain.</p>
	<p class="lead">Your medical data in your control.</p>
	
	<p class="lead">At BlockEHR, we believe your medical information is of utmost importance and needs to be stored securely. You decide whom to share your medical records with and we will take care of sharing them securely using Blockchain technology.</p>
	<h4>Our Team</h4>
	<div class="row">
		<div class="col">
			<h5>Surhud Bhagali</h5>
			<p class="text-muted">- Core Developer</p>
			<h5>Vatsal Patel</h5>
			<p class="text-muted">- Smart Contract Developer</p>
		</div>
		<div class="col">
			<h5>Chitra Rajagopal Parameswaran</h5>
			<p class="text-muted">- Team Lead</p>
			<h5>Akash Soni</h5>
			<p class="text-muted">- QA Analyst</p>
		</div>
	</div>
	<p class="lead">Designed and Coded By : Team A &copy; 2020 version: v.1.0.0</p>
	<a href="/" class="btn btn-lg btn-outline-primary mx-2 my-4">Get Started</a>
</div>
<%- include("partials/footer"); %>