<%- include("partials/header"); %>
<div class="container landing">
	<img id="landingLogo" src="assets/logo.png" class="img-logo" alt="logo">
	<h2 id="titleName" class="display-2">BlockEHR</h2>
	<h4 id="taglineName" class="display-4">Health Records on Blockchain</h4>
	<div id="startBtn" class="my-6">
		<a href="/sign-doctor" class="btn btn-lg btn-primary mx-2 my-4">For Doctors</a>
		<a href="/sign-patient" class="btn btn-lg btn-primary mx-2 my-4">For Patients</a>
		<div>
			<a href="/explorer" class="btn btn-lg btn-primary mx-2 my-4">BlockEHR Explorer</a>
		</div>
	</div>
</div>
<%- include("partials/footer"); %>